open by   ⌘ ,
settings 



# -- Config
# This is the configuration file for Ghostty.
#   /Users/spass/Library/Application Support/com.mitchellh.ghostty/config
#  Run `ghostty +show-config --default --docs` to view a list of
#
# Additionally, each config option is also explained in detail
# on Ghostty's website, at https://ghostty.org/docs/config.

font-family = Hurmit Nerd Font  
window-padding-x = 0
# # Spacing around the equals sign does not matter.
# # All of these are identical:
# key=value
# key= value
# key =value
# key = value
#
# # Any line beginning with a # is a comment. It's not possible to put
# # a comment after a config option, since it would be interpreted as a
# # part of the value. For example, this will have a value of "#123abc":
# background = #123abc
#
# # Empty values are used to reset config keys to default.
# key =
#
# # Some config options have unique syntaxes for their value,
# # which is explained in the docs for that config option.
# # Just for example:

#open -na Ghostty --args --working-directory="~/ws/"
#MacOS path
#$HOME/Library/Application\ Support/com.mitchellh.ghostty/config
resize-overlay-duration = 1s
background = 000000
background-opacity = 0.6
background-blur = 7 
mouse-scroll-multiplier = 5
cursor-click-to-move = true 

working-directory ="/Users/spass/ws"
